footer{
    display: flex;
    justify-content: center;

    border-radius: 100px;

    background-color: var(--slate800);
}

#footerIcon {
    height: 2cm;
    border-radius: 100%;
}

/*forces the footer to stay at the bottom of the page*/
footer {
    margin-top: auto;
}